.select {
    display: flex;
    border: white solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    height: 50px;
}

.select>p {
    flex-grow: 1;
    width: auto;
    margin: auto;
}

.select>div {
    margin: auto;
}

.selectSelect {
    color: black;
    font-size: 20px;
}